.App {
  text-align: center;
  color:rgb(183, 183, 183);
  background:rgb(229, 229, 229);
  width: 60vh;
  position: relative;
  margin-left:700px;
  border-radius: 100px 100px 50px 50px;
  font-family: 'Roboto', sans-serif;
}

.App input{
  background:white;
  border-radius: 10px 10px 10px 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(163, 163, 163);
  
}

.button {
  font-family: 'PT Sans Narrow', sans-serif;
  background: 0;
  text-decoration: none;
  position: absolute;
  border: none;
  font-size:20px;
  margin-left:60px;
  margin-top:-20px;
}
.button1{
  position: relative;
  margin-left:150px;
  margin-top:-20px;
  font-family: 'PT Sans Narrow', sans-serif;
  background: 0;
  text-decoration: none;
  position: absolute;
  border: none;
  font-size:20px;
}

.submit {
  font-family: 'PT Sans Narrow', sans-serif;
  background: 0;
  text-decoration: none;
  position: absolute;
  border: none;
  font-size:20px;
}

.date {
  position: relative;
  margin-top:-30px;
  margin-left:250px;
  color:white;
}

.submit:hover{
  background:rgb(183, 183, 183);
}
.button:hover{
  background:rgb(183, 183, 183);
}
.button1:hover{
  background:rgb(183, 183, 183);
}

.App-link {
  color: #61dafb;
}

.task1{
  position: relative;
  margin-left:10px;
  padding:10px;
  margin-top:-10px;
  color:rgb(163, 163, 163);
  font-size:25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
